.menu{
  margin-top: -20px;
  cursor: pointer;
  background-color: var(--cor-verde-escuro-bg);
}

ul{
  display: flex;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  
}

li{
  margin:0;
  padding: 0.8rem 1rem;
  list-style-type: none;
  align-items: center;
}

li:hover{
  background-color: var(--cor-verde-logo);

}

a{
  margin: 0;
  padding: 0.8rem 10rem;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

li :active {
   color: var(--cor-principal);

}

