.menu{
  cursor: pointer;
  background-color: var(--cor-verde-escuro-bg);
}

.ulContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.liItem{
 margin:0;
  list-style-type: none;
  align-items: center;
}

.liItem :hover{
  background-color: var(--cor-verde-logo);

}

.aMenu{
padding: 7px 100px;  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.liItem :active {
   color: var(--cor-principal);

}

